{% extends 'base.html' %}
{% load static %}

{% block title %}
    My Tasks
{% endblock title %}

{% block content %}
<main>
    <div class="my-tasks-list">
        <h1>My Tasks</h1>
        {% if task_list|length > 0 %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in task_list %}
                    <tr>
                        <td>{{ item.name }}</td>
                        <td>{{ item.start_date }}</td>
                        <td>{{ item.due_date }}</td>
                        <td>{{ item.is_completed|yesno }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>You have no tasks</p>
        {% endif %}
    </div>
</main>
{% endblock content %}
