{% load static %}

{% extends 'base.html' %}

{% block title %}
    Gallery
{% endblock title %}

{% block content %}
<main>
    <div class="gallery">
        <h1>{{ show_project.name }} Inspiration Gallery</h1>
        <p>A Visual Mood Board</p>
        <div class="gallery-grid">
            
